*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.FullHeader{
	width: 100%;
}

.NavigationHeader{
	background-color: #FFD12B;
}

.header{
	height: 700px;
	background-image: url(WebsiteHeader.png);
	background-size: cover;
	background-position: center;
	background-repeat: no repeat;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	color: white;
}

.nav-menu{
	list-style: none;
	display: flex;
}

.nav-menu li{
	margin-left: 20px;
}

.nav-menu a{
	text-decoration: none;
	color: blue;
	text-align: center;
	padding: 20px;
}

.hamburger{
	display: none;
	flex-direction: column;
	cursor: pointer;
	margin-left: auto;
}

.hamburger span{
	height: 3px;
	width: 25px;
	background: white;
	margin: 4px 0;
}

.header{
	width: 100%;
	height: 700px;
	background-image: url(WebsiteHeader.png);
	background-size: cover;
	background-position: center;
	background-repeat: no repeat;
}

.PageHeading{
	color: yellow;
	text-align: center;
	font-size: 30px;
}
			
.content{
	font-size: 22px;
	text-align: left;
	padding: 20px;
}

.image{
	padding: 10px;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 1024px){
	.nav-menu{
		position: absolute;
		top: 60px;
		right: 0;
		background-color: #FFD12B;
		width: 100%;
		flex-direction: column;
		display: none;
		text-align: center;
	}

	.nav-menu li{
		margin: 15px 0;
	}

	.hamburger{
		display: flex;
	}
}